html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #212121;
    margin: 0;
}

.big-title {
    text-align: center;
}

.projects {
    padding: 6px 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background: #fff;
    /*border-radius: 2px;*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    /*flex-grow: 10;*/
    padding: 6px;
    margin-bottom: 12px;
    min-width: 280px;
    width: calc(90vw / 4);
}

@media (max-width: 800px) {
    .project {
        width: calc(90vw / 3);
    }
}

@media (max-width: 600px) {
    .project {
        width: calc(90vw / 2);
    }
}

@media (max-width: 400px) {
    .project {
        width: calc(100vw - 12px);
    }
    .projects {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.project_icon-wrap {
    flex-grow: 1;
    margin-right: 6px;
    display: flex;
    align-items: center;

}

.project_icon {
    height: 70px;
}

.project_body {
    flex-grow: 99;
}

.project_links {
    display: flex;
    flex-direction: column;
}

.project_link {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 40px;
    transition: color .4s;
    /*color: #265C83;*/
    text-decoration: none;
}

.project_link:link,
.project_link:visited { color: #212121; }
.project_link:hover   { color: #2196F3; }
.project_link:active  {
  transition: color .3s;
  color: #212121;
}

.project_link-with-ico {
    position: relative;
}

.project_link-with-ico:before {
    display: block;
    content: "";
    height: 30px;
    width: 30px;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 5px;
}

.github-ico:before {
    background-image: url(../links-ico/github.png);
}
.onedrive-ico:before {
    background-image: url(../links-ico/onedrive.png);
}
.onenote-ico:before {
    background-image: url(../links-ico/onenote.png);
}
.dropbox-ico:before {
    background-image: url(../links-ico/dropbox.png);
}
.todoist-ico:before {
    background-image: url(../links-ico/todoist.png);
}
.adobecrcl-ico:before {
    background-image: url(../links-ico/adobecreativecloud.png);
}
.gdrive-ico:before {
    background-image: url(../links-ico/gdrive.png);
}
.gplay-ico:before {
    background-image: url(../links-ico/gplay.png);
}
.bitbucket-ico:before {
    background-image: url(../links-ico/bitbucket.png);
}
.vk-ico:before {
    background-image: url(../links-ico/vk.png);
}
.telegram-ico:before {
    background-image: url(../links-ico/telegram.png);
}