<!doctype html>
<html ng-app="StanLinksApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stan's links</title>
    <meta name="description" content="">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="StanLinksCtrl">

    <div class="projects">

      <div class="project" ng-repeat="project in projects">
          <div class="project_icon-wrap">
              <img ng-src="{{project.projectIcon}}" alt="" class="project_icon">
          </div>

          <div class="project_body">
              <div class="project_links">
                  <a href="{{project.githubLink.url}}" class="github-ico project_link project_link-with-ico" ng-show="project.githubLink">{{project.githubLink.name}}</a>
                  <a href="{{project.githubLink.url}}" class="github-ico project_link project_link-with-ico" ng-show="project.githubLink">{{project.githubLink.name}}</a>
                  <a href="{{project.githubLink.url}}" class="github-ico project_link project_link-with-ico" ng-show="project.githubLink">{{project.githubLink.name}}</a>
                  <a href="{{project.githubLink.url}}" class="github-ico project_link project_link-with-ico" ng-show="project.githubLink">{{project.githubLink.name}}</a>
              </div>
          </div>
      </div>
      <!-- ng-repeat="otherLink in project.otherLinks"  -->

    </div>

    <script src="js/main.js"></script>

</body>
</html>
